extends layout/base

block head.title
  title Главная страница

block body.header
  .b-header
    p header - main.html

block body.content
  .b-content
    a.b-content__social__item_facebook(href="http://www.facebook.com/pages/Ekaterinburg-Russia/JetStyle/120197091372101?v=wall")
    a.b-content__social__item_github(href="http://github.com/jetstyle/")
    a.b-content__social__item_twitter(href="http://twitter.com/jetstyle_")
    br
    a(href="#").b-button Кнопка
    br
    br
    a.b-button.b-button__primary Просто кнопка