$twitter_sprite_x = 0px;
$twitter_sprite_y = 64px;
$twitter_sprite_offset_x = 0px;
$twitter_sprite_offset_y = -64px;
$twitter_sprite_width = 32px;
$twitter_sprite_height = 32px;
$twitter_sprite_total_width = 32px;
$twitter_sprite_total_height = 96px;
$twitter_sprite_image = '../publish/sprite.png';
$twitter_sprite = 0px 64px 0px -64px 32px 32px 32px 96px '../publish/sprite.png';
$github_sprite_x = 0px;
$github_sprite_y = 32px;
$github_sprite_offset_x = 0px;
$github_sprite_offset_y = -32px;
$github_sprite_width = 32px;
$github_sprite_height = 32px;
$github_sprite_total_width = 32px;
$github_sprite_total_height = 96px;
$github_sprite_image = '../publish/sprite.png';
$github_sprite = 0px 32px 0px -32px 32px 32px 32px 96px '../publish/sprite.png';
$facebook_sprite_x = 0px;
$facebook_sprite_y = 0px;
$facebook_sprite_offset_x = 0px;
$facebook_sprite_offset_y = 0px;
$facebook_sprite_width = 32px;
$facebook_sprite_height = 32px;
$facebook_sprite_total_width = 32px;
$facebook_sprite_total_height = 96px;
$facebook_sprite_image = '../publish/sprite.png';
$facebook_sprite = 0px 0px 0px 0px 32px 32px 32px 96px '../publish/sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
